/***** HEADER *****/
.search-box {
    width: 500px;
}

img.slider-img {
    height: 400px !important;
    width: 100%;
}
.trend-image {
    height: 100px;
}

/***** DETAIL *****/
.detail-img {
    height: 200px;
}